export(ALPODSclassifier)
export(ALPODSclassifierV2)
export(MTcinderellaALPODSClassify)
export(GeneratePopulations)
export(FuzzyEnsemble)
export(MLregressor)
export(PrepropCompensatedData)
export(ReadAll_LMD_files)
export(ReadLMD)
export(RegressionQualityMeasures)
export(SplitPercentage)


  importFrom("stats", "cor", "predict")
